#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 6rem;
  text-align: center;
}*

.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.nav-link::after {
  content: url('./assets/lavendar_button.png');
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav-link:hover::after {
  opacity: 1;
}



