#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 6rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.nav-link::after {
  content: url('./assets/lavendar_button.png');
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav-link:hover::after {
  opacity: 1;
}



